<html>
<head>
    <title> Pizza Application</title>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <script src="/pizzas.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link" >Home</a>

            </li>
            <li>
                <a href="#" class="nav-link active" >Pizzas</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <table class="table table-bordered table-hover" style="background-color:lightblue;">
        <thead>
        <td><b>Name</b></td>
        <td><b>Size</b></td>
        <td><b>Price</b></td>
        <td><b>Toppings</b></td>
        <td></td>
        </thead>
        <tr data-th-each="pizza:${pizzas}">

            <td data-th-text="${pizza.name}"></td>
            <td data-th-text="${pizza.size}"></td>
            <td data-th-text="${pizza.price}"></td>
            <td data-th-text="${pizza.printToppings()}"></td>
            <td data-th-id = "${pizza.id}" >
                <i class="fa fa-trash delete-icon"></i>
                <i class="fa fa-pencil-alt edit-icon" data-bs-target="#add-edit-pizza" data-bs-toggle="modal"></i>
                <a data-th-href="'/pizzas?showPizza='+${pizza.id}">
                <i class="fa fa-arrow-alt-circle-down"></i>
                </a>
            </td>
        </tr>
    </table>

    <br/>
    <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#add-edit-pizza">Add</button>
</div>
<div class="container" data-th-if="${pizzaDetails != null}" style="margin-top: 20px" >
    <div class="card" style="background-color:powderblue;">
        <div class="card-header" ><b>Pizza details</b></div>
        <div class="card-body" data-th-text="${pizzaDetails.name}"></div>
        <div class="card-footer" data-th-text="${pizzaDetails.size}"></div>
        <div class="card-footer" data-th-text="${pizzaDetails.price}"></div>

    </div>
</div>

<br>
<div class="container">
    <div class="card" style="background-color:powderblue;">
        <div class="card-header" ><b>Pizza images</b></div>
        <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Pizza" width="150" height="100" style="float:left">
        <img src="https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Pizza" width="150" height="100" style="float:left" >
        <img src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Pizza" width="150" height="100" style="float:left">
        <img src="https://images.unsplash.com/photo-1490717064594-3bd2c4081693?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Pizza" width="150" height="100" style="float:left">

    </div>
</div>
</br>

<div class="modal" id="add-edit-pizza">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Pizza</h4>
                <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input class="form-control form-control-lg m-2" id="modal-name" placeholder="Name" type="text"/>
<!--                <input class="form-control form-control-lg m-2" id="modal-size" placeholder="GRANDE/MEDIUM/SMALL" type="text"/>-->
                <select class="fom-control form-control-lg m-2" name="modal-size" id="modal-size" style="width: 100%;">
                    <option value="GRANDE">Grande</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="SMALL">Small</option>
                </select>
                <input class="form-control form-control-lg m-2" id="modal-price" placeholder="Price" type="text"/>
                <input class="form-control form-control-lg m-2" id="modal-toppings" placeholder="Toppings" type="text"/>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" id="add-button-modal" type="button">Add</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
            </div>

        </div>
    </div>
</div>
</body>
</html>